rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /feedItems/{feedItem} {
      allow read: if request.auth != null;
      allow write: if resource.data.user.id == request.auth.uid;
    }
    match /folderItems/{folderItem} {
      allow read: if request.auth.uid == folderItem.userId;
      allow write: if request.auth.uid == request.resource.data.userId;
    }
    match /posts/{post=**} {
      allow read: if request.auth != null;
      allow write: if request.resource.data.user.id == request.auth.uid;
    }
    match /users/{user} {
      allow read: if request.auth != null;
      allow write: if request.resource.data.user.id == request.auth.uid;
    }
    match /users/{user}/folders/{folder} {
      allow read: if request.auth.uid == resource.data.userId;
      allow write: if request.auth.uid == request.resource.data.userId;
    }
  }
}